/* header */

#language {
    width: 65.35px;
    height: 33px;
    border: none;
    color: rgb(29, 161, 242);
    font-family: Monda;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    margin-left: 700px;
}

.logo-box a {
    text-decoration: none;
    color: rgb(29, 161, 242);
}

/* main */
.sign-up {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 19px;
    margin-bottom: 62px;
    margin-top: -30px;
}

.sign-up h1 {
    color: rgb(29, 161, 242);
    font-family: Kanit;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    text-align: center;
}

.sign-up input {
    width: 500px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(121, 122, 122);
    font-family: Kanit;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin-left: 310px;
}

.sign-up button {
    width: 500px;
    height: 70px;
    border-radius: 5px;
    background: rgb(29, 161, 242);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Kanit;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin-left: 310px;
}